<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loginlibrary">

    <application
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity android:name=".login.SignUpActivity"
            android:exported="true"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
